@charset "utf-8";
/* CSS Document */


*, *:after, *:before {
	box-sizing: border-box;
  }
 
  body {
	height: 100%;
	margin: 0;
	font-family: "segoe UI", Tahoma, Geneva, Verdana, Sans-serif;
	line-height: 1.5;
  }
  
  div#random-entry{
	height: 78vh;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	}
div#random-entry a{
	display: inline-block;
	/* background-color: #fff; */
	padding: 5px;
	/* border: 1px solid #668cff; */
	text-decoration: none;
}
div#random-entry a:hover, div#random-entry div#collection-tab a.selected{
	/* background-color: #b3c6ff;
	transition: all 0.5s ease-out; */
}
div#random-entry div#collection-tab{
	margin-top: 20px;
	}
div#random-entry div#collection-tab a.selected{
	background-color: #b3c6ff;
	color: #fff;
	/* transition: .5s; */
	}
div#random-entry ul#collection-set{
	padding: 10px;
	margin: 0;
	border: 1px solid #668cff;
	}
div#random-entry ul#collection-set, div#random-entry ul#collection-set li.collection{
	display: none;
	}
/* div#random-entry ul#collection-set li.collection div.coll-name{ */
div#random-entry ul#collection-set li.collection div.coll-body{
	background-color: rgba(179, 198, 255, .2);
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	/* background-color: red; */
}
div#random-entry ul#collection-set ul.coll-entry div.coll-action-type{
	background-color: #fff;
	margin: 10px 0;
	border: 1px solid #ccc;
}
div#random-entry ul#collection-set ul.coll-entry div.coll-action-type label{
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
div#random-entry ul#collection-set ul.coll-entry div.coll-action-type label.selected{
	background-color: #ffe8e8;
	transition: all 0.5s ease-out;
}
div#random-entry ul#collection-set ul.coll-entry div.coll-apply-action div{
	display: inline-block;
	padding: 5px;
	}
div#random-entry ul#collection-set ul.coll-entry{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
	/* flex-flow: column wrap; */
	}
div#random-entry ul#collection-set ul.coll-entry li.coll-entry-body{
	/* flex-direction: column; */
	list-style: none;
	margin: 0 5px 10px 0;
	padding: 5px;
	border: 1px solid #ccc;
}
div#random-entry ul#collection-set ul.coll-entry li.coll-entry-body.active{
	background-color: rgba(179, 198, 255, .2);
}
div#random-entry ul#collection-set ul.coll-entry li.coll-entry-body div.coll-entry-name{
	background-color: #fff;
}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action div.coll-apply-action-head{
	background-color: #fff;
	/* margin: 0; */
	padding: 0;
	border: 1px solid #ccc;
	}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action div.coll-apply-action-head span,
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action ul.coll-apply-action-body li span/* ,
div#random-entry ul#collection-set ul.coll-entry span.figure */{
	display: inline-block;
	padding: 10px;
	border: 1px solid #eee;
	}
div#random-entry ul#collection-set ul.coll-entry span.figure{
	background-color: #fff;
	}
div#random-entry ul#collection-set ul.coll-entry div.coll-apply-action div.coll-apply-action-head span.entry-total{
	font-size: 1.2em;
	font-weight: bold;
}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action ul.coll-apply-action-body{
	/* background-color: red; */
	/* margin: 0; */
	padding: 0;
}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action ul.coll-apply-action-body li{
	list-style: none;
}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action ul.coll-apply-action-body li span{
	line-height: 20px;
}
div#random-entry ul#collection-set ul.coll-entry li div.coll-apply-action ul.coll-apply-action-body li span.s-n{
	background-color: #ffe8e8;
}
div#random-entry ul#collection-set li.collection.selected ul.coll-entry li.coll-entry-body div.coll-apply-action div.coll-apply-action-head span.operand{
	background-color: #ccffdd;
	border: 1px solid #00e64d;
}

.txt-inputs{
	padding: 5px 0 5px 10px;
	border: none;
	outline: none;
}

.ordinary, .add, .remove{
	background-color: #fff;
	transition: all 0.5s ease-out;
}
.ordinary{
	color: #668cff;
	border: 1px solid #668cff;
}
.ordinary:hover{
	background-color: #b3c6ff;
}

.add{
	color: #317902;
	border: 1px solid #317902;
}
.add:hover{
	background-color: #d2e6ce;
}

.remove{
	color: #ff4747;
	border: 1px solid #ff4747;
}
.remove:hover{
	background-color: #ffdbdb;
}

header *{
	display: inline-block;
	margin: 0;
}
header, footer{
	background-color: dimgray;
	color: #fff;
	padding: 15px;
}
footer{
	font-size: 1.2em;
	border: 2px solid #000;
}
footer span{
	color: yellow;
}